*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
body{
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 255, 85, 0.205);
}
h1{
    color: rgb(2, 54, 78);
}
.maincontent{
    text-align: center;
}
button{
    color: rgb(254, 255, 255);
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    background-color: rgb(0, 204, 255);
    border-radius: 5px;
    margin: 2rem;
}

button:hover{
    background-color: rgba(0, 204, 255, 0.479);
}

.game{
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    cursor:  url('newnew.png') 64 64, auto;
}

.hole{
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
   
}

.hole::after{
    display: block;
    background: url('download-removebg-preview.png') bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 80%;
    position: absolute;
    z-index: 2;
    bottom: -40px;
}

.mole{
    background: url('hamster.png') bottom center no-repeat;
    position: absolute;
    background-size: 100%;
    width: 100%;
    top: 100%;
    content: '';
    z-index: 2;
    height: 100%;
    transition: all 0.5s;
   
    
}

.hole.up .mole{
    top: 0%;
 
}